#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    font-size: 14px;
}

.ph.flag, .us.flag {
    display: inline !important;
    padding: 30px;
}

.ui.divider {
    border-top: 2px solid rgba(34,36,38,.15) !important;
    border-bottom: 2px solid rgba(255,255,255,.1) !important;
}